lang en_US.UTF-8
keyboard us
timezone US/Eastern
auth --useshadow --enablemd5
selinux --enforcing
firewall --enabled --service=mdns
repo --name=base    --baseurl=http://centos.mirror.localdomain/ftp/pub/linux/centos/$releasever/os/$basearch/
xconfig --startxonboot
part / --size 5600 --fstype ext4
services --enabled=NetworkManager --disabled=network,sshd


%packages
kernel
@base
@core
@basic-desktop
@fonts
@internet-browser
@legacy-x
sgpio
device-mapper-persistent-data
libXmu
@x11
mtools
python-dmidecode
sgpio
genisoimage
wodim
libXmu
-eog
-vino
-gdm-plugin-fingerprint
-abyssinica-fonts
-cjkuni-uming-fonts
-wdaemon
-wacomexpresskeys
-abrt-cli
-abrt-addon-kerneloops
-abrt-addon-ccpp
-nano
-abrt-plugin-sosreport
-abrt-addon-python
-gok
-vino
-gdm-plugin-fingerprint
-PackageKit-gstreamer-plugin
-gnome-backgrounds
-rhythmbox
-compiz-gnome
-scenery-backgrounds
-gnote
-evince-dvi
-seahorse
-sound-juicer
gthumb
-totem
-totem-mozplugin
-totem-nautilus
-pidgin
thunderbird
rdesktop
tigervnc
tsclient
-vinagre
#added because @general-desktop is gone
cheese
gedit
evince
gnome-bluetooth
gnome-disk-utility
gnome-power-manager

# livecd bits to set up the livecd and be able to install
memtest86+
#livecd-tools
anaconda
device-mapper-multipath
isomd5sum
syslinux

%end

%post --nochroot
echo "###################################################################"
echo "## running /root/centos-livecd-scripts/host/copy-files-to-target.sh"
echo "###################################################################"
set -x
/usr/bin/tree -anFp /root/centos-livecd-scripts
/bin/bash -x /root/centos-livecd-scripts/host/copy-files-to-target.sh 2>&1 | tee /root/centos-livecd-scripts/from-host/copy-files-to-target.log
%end

%post
echo "###################################################################"
echo "## running /root/centos-livecd-scripts/target/post-install.sh"
echo "###################################################################"
set -x
/usr/bin/tree -anFp /root/centos-livecd-scripts
/bin/bash -x /root/centos-livecd-scripts/target/post-install.sh 2>&1 | tee /root/centos-livecd-scripts/from-target/post-install.log
%end

%post --nochroot
echo "###################################################################"
echo "## running /root/centos-livecd-scripts/host/postnochroot-install.sh"
echo "###################################################################"
set -x
/usr/bin/tree -anFp /root/centos-livecd-scripts
/bin/bash -x /root/centos-livecd-scripts/host/postnochroot-install.sh 2>&1 | tee /root/centos-livecd-scripts/from-host/postnochroot-install.log
%end

